@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div>
    email для связи и результатов: <a href="mailto:ruslan.safin@byndyusoft.com">ruslan.safin@byndyusoft.com</a>
    <br/>
    <br/>
    также доступны любые другие каналы связи: <a href="http://сафин.рус/">сафин.рус</a>
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:ruslan.safin@byndyusoft.com">ruslan.safin@byndyusoft.com</a><br />
</address>