@model SearchEngine.User[]

@{
    ViewBag.Title = "Managers Search Page";
}

<div class="jumbotron">
    <h1>Search Managers</h1>
    @using (Html.BeginForm())
    {
  <input type="text" name="query"/>
        <p><button href="http://asp.net" class="btn btn-primary btn-lg">Search &raquo;</button>
        </p>
    }

</div>
@if (Model != null)
{
    <div class="row">
        Found Managers:
        <ul>
            @foreach (var user in Model)
            {
                <li>
                    @user.FirstName
                    &nbsp;
                    @user.LastName
                </li>
            }
        </ul>
    </div>
}