@model bsctf.Controllers.SearchModel

@{
    ViewBag.Title = "Поиск по менеджерам";
}

<div class="jumbotron">
    <h1>Поиск по менеджерам</h1>
    @using (Html.BeginForm())
    {
        <input type="text" name="query" style="width: 500px;" value="@(Model?.Query)"/>
        <br/>
        <br/>
        <p><button class="btn btn-primary btn-lg">Искать &raquo;</button>
        </p>
    }

</div>
<span>Поиск НЕ производится по пользователям, зарегистрированным на данном сайте</span>
<br />
<span>Все данные вымышлены, совпадения случайны</span><br />
<span>Минимальная длина поискового запроса - 4 символа</span>
<hr/>
@if (Model != null)
{
    <div class="row">
        <h3>Результаты поиска:</h3>
        <ul>
            @foreach (var user in Model.Users)
            {
                <li>
                    @user.FirstName
                    @user.LastName
                </li>
            }
        </ul>
    </div>
}